/*-------------------------------------------------------*/
/* LITER DASH -> ADD EXERCISE
/*-------------------------------------------------------*/
.addExerciseDash {
    display: none;
}
.addExerciseDashVisible {
    display: flex;
    flex-direction: column;
    outline: 1px solid var(--primary-border-color);
    position:relative; 
    background-color: var(--secondary-background-color);
    z-index: 1000;
    opacity: 0.95;
}
#exerciseDashForprDashBoard{
    position:fixed;
    top: 0px;
    left: 0px;
    min-width: 100%;
}
#exerciseDashForworkoutDash{
    position:fixed;
    bottom: 0px;
    left: 0px;
    min-width: 100%;
}
.addExerciseBoxHeader {
    display: flex;
    flex-direction: row;
    flex: 1;
    position: relative;
    border-bottom: 1px solid var(--primary-border-color);
}
#addExerciseTitle {
    display: flex;
    font-size: 2vw;
    color: var(--primary-text-color);
    filter: brightness(0.6);
    margin-left: 10px;
    padding: 10px;
    flex: 2;
}
#addExerciseX {
    color: var(--primary-remove-color);
    margin-right: 30px;
    margin-top: 1.5%;
    flex: 0;
    font-size: 1vw;
    cursor: pointer;
}   
#addExerciseX:hover {
    color: var(--primary-remove-highlight-color);
}  
.exerciseSelectionWrapper{
    display: flex;
    flex-direction: row;
    position: relative;
}
.SquatCategory, .BenchCategory, .DeadliftCategory, .AccessoriesCategory{
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--primary-border-color);
    font-size: 2vw;
    flex: 1;
    padding-left: 10px;
    color:var(--primary-text-color);
}
.SquatCategory{
    border: none;
}
.CategoryHeader {
    padding: 10px;
}
.exercisesInDB{
    display: grid;
    color: var(--primary-text-color);
    padding:5px;
}
.exerciseMenuItem {
    font-size: clamp(6pt, 1vw, 16pt);
    color: #777;
    padding-left: 10px;
    cursor: pointer;
}
.exerciseMenuItem:hover{
    background-color: var(--primary-text-background-hover-color);
    color: var(--primary-text-color);
}
.exerciseDescriptionWrapper{
    display: flex;
    flex-direction: column;
}
.exerciseDescriptionHeader{
    display: none;
}
.exerciseDescription{
    display: flex;
    flex-direction: row;
    color:var(--primary-text-color);
    padding: 1%;
    font-size: clamp(6pt, 1vw, 16pt);
    border-top:  1px solid var(--primary-border-color);
}
