/*-------------------------------------------------------*/
/* LIFTER WINDOW -> CALENDAR DASHBOARD -> CALENDAR 
/*-------------------------------------------------------*/
.calendarWrapper{
    display: flex;
    flex-direction: row;
}
.month {
    display: flex;
    flex:1;
    flex-direction: column;
    position: relative;
    display: none;
    margin-left: 1%;
}
.week { 
    display: flex;
    width: 100%;
    max-width: 800px;
    flex-direction: row;
}
.day {
    display: flex;
    flex-direction: row;
    position: relative;
    outline: solid var(--primary-border-color) 1px;
    background-color: var(--primary-background-color);
    user-select: none;
    padding: 4%;
    margin: 1%;
    width: 5%;
    aspect-ratio: 1/1;
    min-width: 1rem;
    min-height: 1rem;
    cursor: pointer;
    user-select: none;
}
.day:hover {
    outline: 1px solid var(--primary-border-hover-color);
    .dayNum{
        color: var(--primary-text-color);
    }
}
.dayNum{
    font-size: clamp(6px, 1vmin, 1vw);
    pointer-events: none;
    color: var(--primary-text-color);
}
.daySelected{
    background-color:var(--secondary-background-color);
    outline: 1px solid var(--primary-hover-color);
    color: var(--primary-text-color);
}
.prDateHighlighted{
    outline: 1px solid var(--primary-hover-color);
}
.dayLifted{
    background-color: none;
}
.today {
    outline: 1px solid var(--secondary-border-color);

}
.squatDay{
    position: absolute;
    top: 25%;
    right: 8%;
    aspect-ratio: 1/1;
    min-width: var(--calendar-liftDay-min-size);
    min-height: var(--calendar-liftDay-min-size);
    width: var(--calendar-liftDay-size);
    background-color: var(--primary-squat-color);
    pointer-events: none; 
}
.benchDay{
    position: absolute;
    top: 13%;
    right: 8%;
    aspect-ratio: 1/1;
    min-width: var(--calendar-liftDay-min-size);
    min-height: var(--calendar-liftDay-min-size);
    width: var(--calendar-liftDay-size);
    background-color: var(--primary-bench-color);
    pointer-events: none; 
}
.deadDay{
    position: absolute;
    top: 1%;
    right: 8%;
    aspect-ratio: 1/1;
    min-width: var(--calendar-liftDay-min-size);
    min-height: var(--calendar-liftDay-min-size);
    width: var(--calendar-liftDay-size);
    background-color: var(--primary-deadlift-color);
    pointer-events: none; 
}
.otherLiftDay{
    position: absolute;
    top: 37.5%;
    right: 8%;
    aspect-ratio: 1/1;
    min-width: var(--calendar-liftDay-min-size);
    min-height: var(--calendar-liftDay-min-size);
    width: var(--calendar-liftDay-size);
    background-color: var(--primary-accessory-color);
    pointer-events: none;   
}
.unfocusedDate {
    outline: none;
}
.dayName {
    color: var(--primary-text-color);
    filter: brightness(0.3);
    position: absolute;
    top: -30%;
    left: 5%;
    font-size: clamp(6px, 0.75vw, 12px);
}
.weekNumber {
    display: none;
    color: var(--secondary-text-color);
    position: absolute;
    left: -40%;
    font-size: 1vw;
    transform: rotate(270deg);
}
.dateWrapper {
    display: flex;
    padding: 5%;
    flex-direction: row;
    position: relative;
}
.monthTitle{
    font-size: clamp(10px, 3vw, 36px);
    color: var(--primary-text-color);
    margin-right: 1vw;
}
.yearTitle{
    color: var(--secondary-text-color);
    font-size: 2vw;
}
