/*-------------------------------------------------------*/
/* cursor
/*-------------------------------------------------------*/
.cursor{
    display: flex;
    flex-direction: column;
    position: relative;
    outline: solid purple 1px;
    width: 4.5vw;
    aspect-ratio: 1/1;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.cursor:hover {
    background-color: darkorchid;
    color: mintcream;
    outline: 1px solid purple;
}
.cursorPlus{
    font-size: 2vw;
    color: violet;
    pointer-events: none;
}
#cursorForprDashBoard{
    margin-top: 2%;
    align-self: center;
}
#cursorForworkoutDash{
    margin-top: 4%;
}
.cursorVisible{
    display: none;
}