/*-------------------------------------------------------*/
/* cursor
/*-------------------------------------------------------*/
.cursor{
    display: flex;
    flex-direction: column;
    position: relative;
    outline: solid var(--cursor-outline-color) 1px;
    width: 4.5vw;
    aspect-ratio: 1/1;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.cursor:hover {
    background-color: var(--cursor-highlight-color);
    color: var(--cursor-plus-highlight-color);
}
.cursorPlus{
    font-size: 2vw;
    color: var(--cursor-plus-color);
    pointer-events: none;
}
#cursorForprDashBoard{
    margin-top: 1vw;
    align-self: center;
}
#cursorForworkoutDash{
    margin-top: 2vw;
}
.cursorVisible{
    display: none;
}