/*-------------------------------------------------------*/
/* H LIFTER WINDOW -> HEADER FOR THE DASHES
/*-------------------------------------------------------*/
.dashHeader {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 100%;
    min-width: 85%;
    border-bottom: 1px solid var(--primary-border-color);
    margin-bottom: 0.5vw;
    margin-top: 3vw;
    user-select: none;
}
.dashHeaderTitle {
    display: flex;
    align-self: flex-end;
    color: var(--primary-text-color);
    font-size: 24pt;
    flex: 1;
    user-select: none;
    padding-bottom: 0.5vw;
    margin-left: 1vw;
}
.minimizer {
    display: flex;
    flex: 0;
    padding-bottom: 0.5vw;
    margin-right: 0.5vw;
    font-size: 24pt;
    user-select: none;
    color: var(--primary-add-color);
}
.minimizer:hover {
    color: var(--primary-add-highlight-color);
    cursor: pointer;
}
.plus{
    align-self: center;
    justify-self: center;
    font-size: 1vw;
    color: var(--cursor-plus-color);
}