.header{
    display: flex;
    flex-direction: row;
    flex:1;
    max-height: 100px;
    border-bottom: 1px solid var(--primary-border-color);
    overflow: hidden;
}
#headerTitle {
    color:var(--secondary-text-color);
    font-size: 24px;
    flex:1;
    align-self: center;
    padding: 2%;
    margin-left: 1%;
}

.headerButtons {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-right: 2vw;
}
.button {
    display: flex;
    flex-direction: row;
    font-size: clamp(6px, 1rem, 20px);
    cursor: pointer;
    color:var(--primary-text-color);
    align-self: center;
}
.button:hover {
    color: var(--primary-add-color);
}
.buttonContent{
    align-self: center;
}
#activeLifters{
    display: none;
}
#activeLifters.visible{
    display: flex;
}
#login.visible{
    display: none;
}
#logout{
    display: none;
}
#logout.visible{
    display: flex;
}
#addLifter.hidden{
    display: none;
}
.footer{
    border-top: 1px solid var(--sidebar-border-color);
}