.header{
    display: flex;
    flex-direction: row;
    flex:1;
    max-height: 100px;
    border-bottom: 1px solid var(--sidebar-border-color);
    overflow: hidden;
}
#headerTitle {
    color:var(--primary-header-color);
    font-size: 24px;
    flex:1;
    align-self: center;
    padding: 2%;
}

.headerButtons {
    display: flex;
}
.button {
    display: flex;
    flex-direction: row;
    padding: 1%;
    font-size: clamp(6px, 1rem, 20px);
    cursor: pointer;
    color:var(--primary-button-color);
}
.button:hover {
    background-color: var(--primary-button-background-color);
    color: mintcream;
}

#activeLifters{
    display: flex;
    flex-wrap: nowrap;
    min-width: 100px;
    color: mintcream;
}
#addLifter{
    display: flex;
    flex-wrap: nowrap;
    min-width: 100px;
    color: mintcream;
}
.buttonContent{
    align-self: center;
}



.footer{
    border-top: 1px solid var(--sidebar-border-color);
}