/*-------------------------------------------------------*/
/* LIFTER WINDOW (main dashboard) - columns
/*-------------------------------------------------------*/
.lifterBoxHeader{
    display: flex;
    max-height: min(5%,70px);
    flex:1;
    padding: 1%;
    flex-direction: row;
    border-bottom: 1px solid var(--sidebar-border-color);
}
#lifterHeaderName {
    align-self: center;
    font-size: 3vw;
    color: var(--lifterBoxHeader-text-color);
}
#lifterConfig {
    font-size: 2vw;
    color: var(--lifterBoxHeader-text-color);
    visibility: hidden;
    cursor: pointer;
}
#lifterConfig:hover {
    color: red;
}