/*-------------------------------------------------------*/
/* LIFTER WINDOW -> CALENDAR DASHBOARD 
/*-------------------------------------------------------*/
.monthlyChartDashWrapper {
    display: none;
    width: 20%;
    flex-direction: column;
    overflow: hidden;
    margin-left: 1vw;
    margin-top: 1vw;
    padding-left: 1vw;
}
@media screen and (max-width: 800px) {
    .monthlyChartDashWrapper {
        display: none;
    }
    .prChartWrapper {
        display: none !important;
    }
}
.monthlyChartDash {
    display: flex;
    flex-direction: column;
}
.monthlyChartDashVisible {
    display: none;
}

.monthlyChartWrapper {
    display: none;
}
.monthlyChartWrapperVisible {
   display: flex;
   position: relative;
   flex-direction: column;
}
.monthlyChart {
    display: flex;
    position: relative;
    flex:1;
    max-height: 100px;
    padding-bottom: 0.5vw;
    /* filter: brightness(0.8); */

}
.monthlyChartTitle{
    padding: 0.5vw;
    margin: 1vw;
    position: relative;
    display: flex;
    color: var(--secondary-text-color);
    font-size: 1vmin;
}
.monthlyVolumeTotal, .monthlyIntensityTotal, .monthlyFrequencyTotal {
    color: var(--primary-text-color);
    position: relative;
}
