/*-------------------------------------------------------*/
/* CREATE A LIFTER POP UP BOX
/*-------------------------------------------------------*/
.createLifterBox {
    display: none;
}
.createLifterBox.visible{
    position: absolute;
    display: flex;
    top: min(50%, 400px);
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    min-width: max(200px,25%);
    max-height: max(50%, 300px);
    outline: 1px solid brown;
    padding: 5%;
    background-color: #111111ec;
    overflow: hidden;
}

.createLifterBoxHeader {
    display: flex;
    flex-direction: row;
}
.X {
    font-size: clamp(8pt, 2vmin, 24pt);
    color: brown;
    margin-top: min(3vh, 6vw);
    flex: 0;
    cursor: pointer;
    align-self: flex-end;
}
.X:hover {
    /* border-color: palegoldenrod; */
    color:red;
}
#newLifterTitle {
    margin-top: min(3vh, 6vw);
    font-size: clamp(8pt, 2vmin, 24pt);
    flex: 1;
    color:mintcream;
}

.createLifterFields {
    margin-top: 5%;
    display: flex;
    flex-direction: column;  
    gap: 1vw;
}
.inputField {
    background-color: #0a0a0a;
    border: none;
    outline: 1px solid rgb(106, 26, 26);     
    padding:5%;
    border-radius: 0px;
    font-size: clamp(8pt, 2vmin, 24pt);
    color: black;
}
.inputField:focus {
    background-color: brown;
    border-color: none;
    box-shadow: none;
    outline: none;
}
.inputField:hover {
    outline: 1px solid red;
}
input::placeholder {
    color: #222; 
    opacity: .8; 
  }
.inputField:not(:placeholder-shown) {
    color: mintcream;         /* Active text color */
}
#submitNewLifter {
    margin-top: 10%;
    padding: 6%;
    align-self: center;
    aspect-ratio: 2/1;
    border: 1px solid transparent;
    background-color: brown;
    color: mintcream;
}
#submitNewLifter:hover {
    background-color: red;
    color: mintcream;
}
#submitErrorMsg {
    margin-top: 50px;
    color: red;
    font-size: clamp(8pt, 2vmin, 24pt);
    align-self: center;
}