
.newLifterWrapper{
    display: none;
    flex-direction: row;
    position: relative;
    background-color: var(--secondary-background-color);
}
.newLifterWrapper.visible{
    display: flex;
}
/*-------------------------------------------------------*/
/* CREATE A LIFTER POP UP BOX
/*-------------------------------------------------------*/
.createLifterBox {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 3%;
    padding-top: 0%;
    overflow: hidden;
    width: 50%;
    border-bottom: 1px solid var(--primary-border-color);
    overflow: visible;
}
.createLifterBoxHeader {
    display: flex;
    flex: 1;
    flex-direction: row;
}
.X {
    font-size: clamp(8pt, 2vmin, 24pt);
    color: var(--primary-remove-color);
    margin-top: min(3vh, 6vw);
    flex: 0;
    cursor: pointer;
    align-self: flex-end;
}
.X:hover {
    color:var(--primary-remove-highlight-color);
}
#newLifterTitle {
    margin-top: min(3vh, 6vw);
    font-size: clamp(8pt, 1.5vw, 24pt);
    flex: 1;
    color:var(--primary-text-color);
}

.createLifterFields {
    margin-top: 5%;
    display: flex;
    flex-direction: column;  
    gap: 1vw;
}
.inputField {
    background-color: var(--primary-background-color);
    border: none;
    outline: 1px solid var(--secondary-border-color);     
    padding:1%;
    border-radius: 0px;
    font-size: clamp(8pt, 2vmin, 24pt);
    color: black;
}
.inputField:focus {
    background-color: var(--secondary-text-color);
    border-color: none;
    box-shadow: none;
    outline: none;
}
.inputField:hover {
    outline: 1px solid var(--primary-border-hover-color);
}
input::placeholder {
    color: var(--secondary-border-color); 
    opacity: .8; 
  }
.inputField:not(:placeholder-shown) {
    color: black;         /* Active text color */
}
.inputField:not(:focus) {
    color: var(--secondary-border-color);      
}

#submitNewLifter {
    margin-top: 5%;
    padding: 2%;
    align-self: center;
    aspect-ratio: 2/1;
    border: 1px solid transparent;
    background-color: var(--primary-hover-color);
    color: var(--primary-text-color);
}
#submitNewLifter:hover {
    background-color: var(--primary-add-color);
}
#submitErrorMsg {
    color: var(--secondary-text-color);
    font-size: clamp(8pt, 2vmin, 24pt);
    align-self: center;
}

/*-------------------------------------------------------*/
/* CREATE A LIFTER INFO BOX
/*-------------------------------------------------------*/
.newLifterInfoBox{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 3%;
    padding-top: 0;
    border-left: 1px solid var(--primary-border-color);
    border-bottom: 1px solid var(--primary-border-color);
}
.newLifterInfoBoxTitle{
    margin-top: min(3vh, 6vw);
    font-size: clamp(10pt, 2vw, 48pt);
    color: var(--secondary-text-color)
}
.newLifterInfoBoxMain{
    font-size: clamp(6pt, 1.25vw, 16pt);
    color: var(--secondary-text-color); 
    padding:4%;
    filter: brightness(0.7);
}