.notesSectionWrapper{
    display: flex;
    flex-direction: column;
}
.notesSectionHeader{
    color: var(--primary-text-color);
    filter: brightness(0.6);
    font-size: clamp(6pt, 1vw, 16pt);
    align-self: flex-end;
    padding-bottom: 1vw;
}
.notesSectionInput{
    outline: none;
    border: 1px solid var(--primary-border-color);
    background-color: var(--primary-background-color);
    padding: 8px;
    color: var(--primary-text-color);
    min-height: 40px;
    font-size: clamp(6pt, 1vw, 10pt);
    filter: brightness(0.8);
}
.saveNoteButton{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    outline: 1px solid var(--cursor-outline-color);
    padding: 5%;
}
.saveNoteButton:hover{
    background-color: browm;
    .saveNoteButtonText{
        color: var(--cursor-plus-highlight-color);
    }
    cursor: pointer;
}
.saveNoteButtonText{
    display: flex;
    color:  var(--cursor-plus-color);
    font-size: clamp(6pt, 1vw, 16pt);
    pointer-events: none;
}
.saveNoteButton.visible{
    display: none;
}

.saveNoteButton.saved{
    outline: 1px solid greenyellow;
    .saveNoteButtonText{
        color: greenyellow;
    }
}
.saveNoteButton.saved:hover{
    background-color: green;
}

.saveNoteButton.notSaved{
    outline: 1px solid var(--cursor-outline-color);
    .saveNoteButtonText{
        color: var(--cursor-plus-color);
    }
}

