.prDash {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 1%;
    position: relative;
    margin-right: 1%;
    padding-right: 1%;
    padding-left: 1%;;
}
.prDashVisible {
    display: none;
}
.prDashRepRow{
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
}
.prLiftRow {
    display: flex;
    position: relative;
    flex-direction: row;
}
.prCell {
    display: flex;
    position: relative;
    flex: 1;
    aspect-ratio: 1/1;
    border: 1px solid var(--primary-border-color); 
    justify-content: center;
    user-select: none;
    font-size: clamp(4pt, 0.75vw, 16pt);
    margin: 0.25%;
} 
.blank {
    outline: 1px solid transparent !important;
    background-color: transparent !important;
}
.repNumInHeader {
    align-self: center;
    justify-self: center;
    color: var(--primary-text-color);
}
.repNumBox{
    background-color: var(--primary-background-color);
    border: transparent;
    font-size: clamp(6pt, 0.75vw, 16pt);
}
.prLiftNameBox {
    border: transparent;
    display: flex;
    flex-direction: column;
    position: relative;
    color:var(--primary-text-color);
    overflow: hidden;
}
.prLiftName{
    align-self: flex-start;
    cursor: pointer;
}
.prLiftName:hover {
    color:var(--primary-remove-color);
}

.repPRbox{
    color: var(--primary-text-color);
}
.prPresent:hover{
    background-color: var(--primary-hover-color);
    color:var(--primary-text-color);
    cursor: pointer;
}

.prPresent:hover .prToolTip{
    display: flex;
    flex-direction: column;
    z-index: 1000;
    position: absolute;
    opacity: 1;
    width: 6vw;
    min-width: 100px;
    top: 100%;
    left: 0%;
    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
    outline: 1px solid var(--primary-border-color);
    font-size: clamp(8pt, 1vw, 24pt);
    overflow: visible !important;
    padding: 1vw;
}

.prToolTip{
    display: none;
    opacity: 0;
}
.prToolTipWeightsRepsWrapper{
    display: flex;
    flex-direction: row;
}

.prWeight{
    align-self: center;
    display: flex;
    pointer-events: none;
}


.prChartWrapper{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    padding-bottom: 5%;
    max-width: 100%;
    border-bottom: 1px solid var(--primary-border-color);
}

.prChartTitleWrapper{
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    padding: 1%;
    border-top: 1px solid var(--secondary-border-color);
    border-bottom: 1px solid var(--secondary-border-color);
    background-color: var(--primary-background-color);
    align-items: center;
}
.prChartX{
    color:var(--primary-remove-color);
    flex: 0;
    cursor: pointer;
    align-self: flex-end;
    justify-self: flex-end;
}
.prChartX:hover{
    color: var(--primary-remove-highlight-color);
}
.prChartCanvas{
    display: flex;
    position: relative;
    flex:1;
    aspect-ratio: 2/1;
    max-height: 350px;
    padding-bottom: 1%;
}
.prChartTitle{
    display: flex;
    flex: 1;
    font-size: clamp(8pt, 1vw, 24pt);
    color: var(--primary-text-color);
    filter: brightness(0.7);
}
.repsInPrChartTitle{
    color: var(--tertiary-text-color);
}
.liftNameInPrChartTitle{
    color:var(--tertiary-text-color);
}