.prDash {
    display: flex;
    flex-direction: column;
    flex:0;
    padding: 1px;
    margin-bottom: 1%;
    position: relative;
    font-size: 1vw;
    margin-right: 2%;
}
.prDashVisible {
    display: none;
}
.prDashRepRow{
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
}
.prLiftRow {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
}
.prCell {
    display: flex;
    position: relative;
    flex-direction: column;
    width: max(10px, 100%/21);
    aspect-ratio: 1/1;
    border: 1px solid var(--primary-border-color); 
    justify-content: center;
    overflow: visible;
    user-select: none;
    font-size: 1vmin;
} 
.blank {
    outline: 1px solid transparent !important;
    background-color: transparent !important;
}
.repNumInHeader {
    align-self: center;
    justify-self: center;
    color: var(--primary-text-color);
}
.repNumBox{
    background-color: var(--primary-background-color);
    border: transparent;
    font-size: 1vmin;
}
.prLiftNameBox {
    border: transparent;
    display: flex;
    flex-direction: column;
    position: relative;

    padding: 0;
    color:var(--primary-text-color);
    overflow: hidden;
}
.prLiftName{
    align-self: center;
}
.prLiftName:hover {
    color:var(--primary-hover-color);
}


.repPRbox{
    color: var(--primary-text-color);
}
.prPresent{
    /* outline: 1px solid var(--prDash-border-highlighted-color); */
}
.prPresent:hover{
    background-color: var(--primary-hover-color);
    color:var(--primary-text-color);
}

.prPresent:hover .prToolTip{
    display: flex;
    flex-direction: column;
    z-index: 1000;
    position: absolute;
    opacity: 1;
    width: 6vw;
    min-width: 100px;
    top: 100%;
    left: 0%;
    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
    outline: 1px solid var(---secondary-border-color);
    font-size: clamp(8pt, 1vw, 12pt);
    overflow: visible !important;
    padding: 1vw;
}

.prToolTip{
    display: none;
    opacity: 0;
}
.prToolTipWeightsRepsWrapper{
    display: flex;
    flex-direction: row;
}

.prWeight{
    align-self: center;
    display: flex;
    pointer-events: none;
}
.prChartWrapper{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    padding-bottom: 5%;
    max-width: 100%;
    border-bottom: 1px solid var(--primary-border-color);
}

.prChartTitleWrapper{
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    padding: 1%;
    border-top: 1px solid var(--primary-border-color);
    border-bottom: 1px solid var(--primary-border-color);
    background-color: var(--primary-background-color);
}
.prChartX{
    color:var(--secondary-text-color);
    flex: 0;
    cursor: pointer;
    align-self: flex-end;
    justify-self: flex-end;
}
.prChartX:hover{
    color: var(--primary-hover-color);
}
.prChartCanvas{
    display: flex;
    position: relative;
    flex:1;
    aspect-ratio: 2/1;
    max-height: 350px;
    padding-bottom: 1%;
}
.prChartTitle{
    display: flex;
    flex: 1;
    padding-left: 30%;
    font-size: clamp(8pt, 1vw, 24pt);
    color: var(--primary-text-color);
}