/*-------------------------------------------------------*/
/* EXERCISE -> SET
/*-------------------------------------------------------*/
.set{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    outline: 1px solid var(--primary-border-color);
    cursor: pointer;
    height: min-content;
}
.setExpand{
    min-height: min-content;
}
/* .prSet {
    outline: 1px solid green;
} */

.set:hover{
    /* outline-color: var(--secondary-border-hover-color); */
    .setWeight{
        color:var(--primary-text-color);
    }
    .setReps{
        color:var(--primary-text-color);
    }
    .setRPE{
        color:var(--primary-text-color);
    }
    .setNumber{
        color:var(--primary-text-color);
    }
}
.set.videoDrag{
    outline: 1px solid var(--secondary-border-hover-color);
}
.setInfoWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    pointer-events: none; 
    padding: 3%;
    width: 100%;
    font-size: clamp(8pt, 1vw, 14pt);
}
.weightsANDrpeWrapper{
    display: flex;
    flex-direction: column;
    position: relative;
}
.setWeightRepsWrapper{
    display: flex;
    flex-direction: row;
    flex: 0.25;
    position: relative;  
    pointer-events: none; 
}
.setRPEwrapper{
    display: flex;
    flex-direction: row;
    pointer-events: none;  
    font-size: clamp(8pt, 1.75vw, 20pt);
}
.setRPETitle{
    pointer-events: none;  
    color: var(--primary-text-color);
    filter: brightness(0.2);
    margin-right: 0.25vw;
}
.setRPE{
    padding-right: 2%;
    pointer-events: none;  
    color: var(--primary-text-color);
    filter: brightness(0.4);
}
.qualifierIconsWrapper{
    display: flex;
    flex:1;
    flex-direction: row;
    margin-left: 1vw;
    color: var(--icons-inactive-color);
}
.qualifierIcons{
    color: var(--icons-inactive-color);
    font-size: clamp(6pt, 0.5vw, 10pt);
    padding: 2%;
    display: none;
}
#unilateralIcon.highlighted{
    display: flex;
    color: var(--icons-active-color);
}
#workingSetIcon.highlighted{
    display: flex;
    color: var(--icons-active-color);
}
#beltIcon.highlighted{
    display: flex;
    color: var(--icons-active-color);
}
#pausedIcon.highlighted{
    display: flex;
    color: var(--icons-active-color);
}
.setNumber{
    position: absolute;
    top: 5px;
    right: 1%;
    font-size: clamp(6pt, 0.75vw, 16pt);
    color: var(--primary-text-color);
    filter: brightness(0.9);
    pointer-events: none;  
}
.setWeight{
    color: var(--primary-text-color);
    pointer-events: none;    
    font-size: clamp(12pt, 2vw, 36pt);
    filter: brightness(0.7);
}
.setBy{
    color: var(--primary-text-color);
    filter: brightness(0.3);
    pointer-events: none;    
}
.setReps{
    color: var(--primary-text-color);
    pointer-events: none;  
    margin-right: 1vw;
    font-size: clamp(6pt, 1.5vw, 24pt);
    filter: brightness(0.7);
}

.setQualifiersWrapper{
    margin-top: 1%;
    display: flex;
    flex: 2;
    margin-right: 6%;
    flex-direction: column;
    user-select: none;
}
.setQualifiers{
    display: flex;
    font-size: clamp(6pt, 1vw, 12pt);
    align-self: flex-end;
}
.UpdatequalifierIcons{
    color: var(--icons-inactive-color);
}
.UpdatequalifierIcons:hover{
    color: lime !important;
}
.UpdatequalifierIcons.highlighted{
    color: var(--icons-active-color);
}
.UpdatequalifierIcons.highlighted:hover{
    color: var(--icons-highlighted-color);
}
/*-------------------------------------------------------*/
/* WOKROUT AREA -> EXERCISE ROW -> SET-> UPDATE FORM
/*-------------------------------------------------------*/
.setUpdateForm{
    display: none;
}
.setUpdateFormVisible{
    display: flex;
    flex-direction: row;
    position: relative;
    border-top: 1px solid var(--secondary-border-color); 
    padding-top: 1vw;
}
.setUpdate{
    margin-top: 1%;
    margin-left: 3%;
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 50%;
}
.setInfoField{
    display: flex;
    position: relative;
    background-color: transparent;
    border: none;
    font-size: clamp(8pt, 1vw, 14pt);
    max-width: 2.5vw;
    min-width: 35px;
    color: var(--primary-text-color);
}
.setInfoField:focus {
    background-color: var(--primary-background-color);
    border-color: none;
    box-shadow: none;
    outline: none;
}
.setInfoField:hover {
    outline: none;
    color: var(--primary-add-highlight-color);
}
.setButton{
    color: var(--primary-add-color);
    cursor: pointer;
    overflow: visible;
    font-size: clamp(6pt, 1vw, 16pt);
    padding: 0;

}
.setButton:hover{
    color: var(--primary-add-highlight-color);
}
.inputWrapper{
    display: flex;
    flex-direction: row;
}
.inputTag{
    position: relative;
    align-self: center;
    align-content: center;
    color: var(--primary-text-color);
    filter: brightness(0.2);
    height: 100%;
    font-size: clamp(8pt, 0.8vw, 14pt);
    margin-right: 0.4vw;
    min-width: 50px;
}

/*-------------------------------------------------------*/
/* WOKROUT AREA -> EXERCISE ROW -> SET-> UPDATE FORM -> REMOVE SET
/*-------------------------------------------------------*/
.setRemove{
    position: relative;
    align-self: flex-end;
    color: var(--primary-text-color);
    font-size: clamp(5pt, 0.75vw, 16pt);
    margin-right: 1%;
    filter: brightness(0.4);
}
.setRemove:hover {
  color:var(--primary-remove-highlight-color);
}
/*-------------------------------------------------------*/
/* WOKROUT AREA -> EXERCISE ROW -> SET-> SET COMMENT
/*-------------------------------------------------------*/
.setCommentWrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    border-top: 1px solid var(--secondary-border-color);
    font-size: clamp(8pt, 0.75vw, 24pt);
    padding: 3%;
    user-select: none;
}
.setCommentWrapper.visible {
    display: none;
}
.setCommentButton{
    color: var(--primary-text-color);
    padding-top: 2%;
    user-select: none;
}
/* make a new set comment */
.setCommentButton:hover{
    color:var(--primary-add-color);
}
.comment{
    color: var(--primary-text-color);
}
.commenterName{
    display: none;
    color: var(--primary-text-color);
    margin-top: 4%;
    padding-bottom: 2%;
    filter: brightness(0.5);
}
.inputComment{
    outline: 1px solid var(--primary-border-color);
    border: none;
    color: var(--primary-text-color);
    padding: 2%;
    margin-top: 6%;
}
.submitComment{
    display: flex;
    justify-content: flex-end;
    color: var(--primary-text-color);
    justify-self: flex-end;
    filter: brightness(0.7);
    padding-top: 2%;
    margin-bottom: 10%;
}
.submitComment:hover{
    color: var(--primary-add-highlight-color);
}
/* previous set comments */
.prevMsgWrapper{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--primary-border-color);
    padding-top: 3%;
    padding-bottom: 3%;
}
.setMsgSender{
    display: flex;
    flex:1;
    color: var(--primary-text-color);
    filter: brightness(0.7);
}
.setMsgDate{
    color: var(--primary-text-color);
    filter: brightness(0.3);
}
.setMsgTextWrapper{
    display: flex;
    flex-direction: row;
}
.setMsgText{
    color: var(--primary-text-color);
    font-style: italic;
    filter: brightness(0.8);
}
.removeSetMsg{
    color: var(--primary-text-color);
    align-self: center;
    filter: brightness(0.5);
}
.removeSetMsg:hover{
    color: var(--primary-add-color);
}