/*-------------------------------------------------------*/
/* THE SIDEBAR
/*-------------------------------------------------------*/
.sidebar {
    display: none;
    flex-direction: column;
    flex: 1;
    width: 15%;
    max-width: 15%;
    justify-content: flex-start;
    overflow-y: scroll;
    border-left: 1px solid var(--primary-border-color);
}
.sidebar.visible{
    display:flex;
}
/*-------------------------------------------------------*/
/* LIFTER NAME IN THE SIDEBAR
/*-------------------------------------------------------*/
.lifterName {
    color: rgba(245, 255, 250, 0.751);
    font-size: clamp(12px, 1vw, 24px);
    cursor: pointer;
    padding-left: max(10px,5%);
    padding: 2%;
    padding-left: 5%;
    color: var(--primary-text-color);
}
.lifterName:hover {
    background-color: var(--primary-text-background-hover-color);
}