/*-------------------------------------------------------*/
/* THE SIDEBAR
/*-------------------------------------------------------*/
.sidebar {
    display: none;
    flex-direction: column;
    position: relative;
    min-width: 25%;
    max-width: 30%;
    flex: 1;
    justify-content: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
    border-left: 1px solid var(--primary-border-color);
    background-color: var(--primary-background-color);
    z-index: 2;
}
.sidebar.visible{
    display:flex;
}

/*-------------------------------------------------------*/
/* SEACH MENU IN SIDEBAR
/*-------------------------------------------------------*/
.lifterSidebarDashWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.findLifterWrapper{
    display: flex;
    border-bottom: 1px solid var(--primary-border-color);
    box-sizing: border-box;
    color: var(--primary-text-color);
    padding: 3%;
}
.findLifterForm{
    display: flex;
    flex-direction: row;
    flex: 1;
    max-width: 95%;
}
.findLifterInput{
    display: flex;
    flex: 1;
    outline: 1px solid var(--primary-border-color);   
    background-color: var(--primary-background-color);
    border-radius: 0px;
    border: none;
    color: var(--secondary-text-color);
    padding: 4%;
}
.findLifterInput:hover{
    outline: 1px solid var(--primary-add-color);
}
#searchLifterButton{
    margin-left: 1vw;
    font-size: clamp(14pt, 2vw, 32pt);
}

/*-------------------------------------------------------*/
/* LIFTER NAME IN THE SIDEBAR
/*-------------------------------------------------------*/
.activeLifterNamesWrapper{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.lifterName {
    font-size: clamp(12px, 1vw, 24px);
    cursor: pointer;
    padding-left: max(10px,5%);
    padding: 2%;
    padding-left: 5%;
    color: var(--secondary-text-color);
}
.lifterName:hover {
    background-color: var(--primary-text-background-hover-color);
    color: var(--primary-text-hover-color);
}
