
/*-------------------------------------------------------*/
:root {
    font-family: 'Arial', sans-serif; 
    font-size: 16px; 
    background-color: var(--primary-background-color);
  }
/*-------------------------------------------------------*/
ul {
    list-style: none;
    padding-left: 0%;
  }
li {
    padding-left: 0%;             /*these indent too much*/
}
input:-webkit-autofill {
  background-color: var(--primary-background-color) !important;
  color: black !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: black !important;
  transition: background-color 5000s ease-in-out 0s; /* hack to delay autofill color */
}
/*-------------------------------------------------------*/
/* MAIN BROWSER CONTAINER
/*-------------------------------------------------------*/
.container {                         /*the entire browser*/
    position: relative;
    display: flex;
    flex: 1;     
    flex-direction: column; 
    height: 100%;
    min-height: 99vh;
  }
/*-------------------------------------------------------*/
/* LIFTER WINDOW (main dashboard) AND SIDEBAR
/*-------------------------------------------------------*/
.dashboard {      /*holds lifter window and sidebar*/
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 99vh;
}
/*-------------------------------------------------------*/
/* LIFTER WINDOW (main dashboard) - columns
/*-------------------------------------------------------*/
.lifterBox {
    display: flex;
    flex-direction: column;
    flex: 1;
}
@media (max-width: 800px) {
    .lifterBox {
        width: 85%;
    }
}