:root{

    --primary-background-color: #0c0c0c;
    --primary-background-hover-color:#333;
    --secondary-background-color: #101010;
    --quaternary-background-color:black;

    --primary-border-color:#2e2e2e;
    --primary-border-hover-color: mintcream;
 
    --secondary-border-color:#222;
    --secondary-border-hover-color:purple;
    
    --primary-text-color: mintcream;
    --primary-text-hover-color:black;
    --primary-text-background-hover-color:yellowgreen;
    --secondary-text-color: #ccc;

    --tertiary-text-color: orange;

    --primary-remove-color:rgb(187, 46, 46);
    --primary-remove-highlight-color:red;

    --primary-add-color: limegreen;
    --primary-add-highlight-color: greenyellow;

    --inactive-text-color:#444;

    --primary-deadlift-color: brown;
    --primary-bench-color: purple;
    --primary-squat-color: orange;
    --primary-accessory-color: orangered;

    --calendar-liftDay-min-size: 2px;
    --calendar-liftDay-size: 10%;

    --icons-active-color: limegreen;
    --icons-inactive-color: #555;
    --icons-highlighted-color:limegreen;

    --cursor-outline-color: limegreen;
    --cursor-highlight-color: limegreen;
    --cursor-plus-color:green;
    --cursor-plus-highlight-color: limegreen;

}