:root{

    --primary-background-color: #0a0a0a;
    --primary-border-color:#222;
    --primary-text-color: mintcream;
    --secondary-text-color: brown;

    --primary-header-color:brown;
    --primary-button-color: brown;
    --primary-button-background-color: brown;

    --primary-deadlift-color: brown;
    --primary-bench-color: purple;
    --primary-squat-color: orange;
    --primary-accessory-color: orangered;
   
    --calendar-number-color: #888;
    --calendar-today-color: #555;
    --calendar-liftDay-min-size: 2px;
    --calendar-liftDay-size: 10%;
    --calendar-dayOutline-color:#222;
    --calendar-daySelected-color: brown;
    --calendar-dayHovered-color: brown;
    --calendar-dayBackground-color:#111;

    --prDash-border-highlighted-color: #666;
    --prDash-border-color: #333;

    --sidebar-border-color: #222;
    --sidebar-names-color: mintcream;
    --sidebar-names-highlight-color: brown;

    --lifterBoxHeader-text-color: mintcream;

    /* setupdate variables */
    --workout-background-color:#0a0a0a;
    --icons-active-color: mediumorchid;
    --icons-inactive-color:#444;
    --icons-highlighted-color:plum;

}