/*-------------------------------------------------------*/
/* WORKOUT AREA
/*-------------------------------------------------------*/
@media screen and (max-width: 577px) {
    /* .monthlyChartDashWrapper {
        max-width: 100%;
    } */
}
.workout {
    display: none;
    flex-direction: column;
    max-width: 20%;
    min-width: 200px;
    flex:1;
    align-content: center;
    position: relative;
    padding: 1%;
    border-left: 1px solid var(--primary-border-color);
    background-color: var(--workout-background-color);
}
/*-------------------------------------------------------*/
/* WORKOUT AREA -> HEADER
/*-------------------------------------------------------*/
.workoutHeader {
    display: flex;
    flex: row;
    margin-bottom: 1%;
    font-size: clamp(8px, 0.80vw, 16pt);
    width: 90%;
    align-content: space-between;
    gap: 10%;
    white-space: nowrap;
}
.sessionTitle{
    display: flex;
    color: var( --primary-text-color);
    position: sticky;
}
.trainingDate{
    display: flex;
    color: var( --primary-text-color);
}
#workoutDashX{
    display: flex;
    color: var( --primary-text-color);
    cursor: pointer;
    align-self: flex-end;
}
#workoutDashX:hover{
    color: red;
}

/*-------------------------------------------------------*/
/* WORKOUT AREA -> EXERCISE ROW
/*-------------------------------------------------------*/
.exerciseRow{
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    user-select: none;
    gap: 0.5vw;
}


/*-------------------------------------------------------*/
/* WOKROUT AREA -> EXERCISE ROW  -> ADD SET
/*-------------------------------------------------------*/
.addSet{
    position: absolute;
    align-self: center;
    right: 10px;
    flex:1;
    color: mintcream;
}
.exercise{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: 6%;
    font-size: clamp(8px, 0.80vw, 16pt);
    outline: 1px solid #777;
    background-color: #111;
    color: mintcream;
    cursor: pointer;
    user-select: none;
}
.exercise:hover{
    outline: 1px solid mediumorchid;
    color: mintcream;
    .addSet{
        color:mintcream;
    }
}