/*-------------------------------------------------------*/
/* WORKOUT AREA
/*-------------------------------------------------------*/
@media screen and (max-width: 577px) {
    /* .monthlyChartDashWrapper {
        max-width: 100%;
    } */
}
.workout {
    display: none;
    flex-direction: column;
    max-width: 20%;
    min-width: 200px;
    flex:1;
    align-content: center;
    position: relative;
    padding: 1%;
    border-left: 1px solid var(--primary-border-color);
    background-color: var(--primary-background-color);
}
/*-------------------------------------------------------*/
/* WORKOUT AREA -> HEADER
/*-------------------------------------------------------*/
.workoutHeader {
    display: flex;
    flex: row;
    max-width: 70%;
    margin-bottom: 1%;
    font-size: clamp(8px, 0.80vw, 16pt);
    align-content: space-between;
    gap: 10%;
    white-space: nowrap;
}
.sessionTitle{
    display: flex;
    color: var( --primary-text-color);
}
.trainingDate{
    display: flex;
    color: var( --primary-text-color);
    filter: brightness(0.7);
}
#workoutDashX{
    display: flex;
    color: var( --primary-remove-color);
    cursor: pointer;
    align-self: flex-end;
}
#workoutDashX:hover{
    color: var(--primary-remove-highlight-color);
}

/*-------------------------------------------------------*/
/* WORKOUT AREA -> EXERCISE ROW
/*-------------------------------------------------------*/
.exerciseRow{
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    user-select: none;
    gap: 0.5vw;
}


/*-------------------------------------------------------*/
/* WOKROUT AREA -> EXERCISE ROW  -> ADD SET
/*-------------------------------------------------------*/
.addSet{
    position: absolute;
    align-self: center;
    right: 10px;
    flex:1;
    color: var(--primary-text-color);
}
.addSet:hover{
    color: var(--primary-add-highlight-color);
}
.exercise{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: 6%;
    font-size: clamp(8px, 0.80vw, 16pt);
    outline: 1px solid var(--secondary-border-color);
    background-color: var(--secondary-background-color);
    color: var(--primary-text-color);
    cursor: pointer;
    user-select: none;
}
/* .exercise.bench{
    color: var(--primary-bench-color);
    filter: brightness(1.5); 
}
.exercise.squat{
    color: var(--primary-squat-color);
}
.exercise.deadlift{
    color: var(--primary-deadlift-color);
}
.exercise.accessory{
    color: var(--primary-accessory-color);
} */
.exercise:hover{
    outline: 1px solid var(--primary-border-hover-color);
    color: var(--primary-text-color)
}