.groupChatRowRoot {
    all: unset;
    position:relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    opacity: var(--filled);
    border-radius: 10px;
    gap: var(--space-5);
    padding: var(--space-5);
}

.groupChatRowRoot:hover {

    background-color: var(--color-hover);

}

.gcRowTitle {

    display: flex;
    justify-content: center;
    font-size: var(--small-font-size);

}


.gcRowUserGrid {
    display: flex;
    gap: var(--space-2);
    border-radius: 10px;
    border: 1px solid var(--color-border-dark);
    padding: var(--space-2);
}

