.gcThreshold {

    display: flex;
    border-top: 1px solid var(--color-border-dark);
    border-bottom: 1px solid var(--color-border-dark);
    padding-top: var(--space-5);
    padding-bottom: var(--space-5);
    margin-top: var(--space-5);
    justify-content: center;
    font-size: var(--24px);

}

.gcListRoot {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-2);
    max-height: 40vh;
    overflow: hidden;
    overflow-y: auto;
    padding-bottom: var(--space-4);
    border-bottom: 1px solid var(--color-border-dark);
}

.gcListRoot {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.gcListRoot::-webkit-scrollbar {
    display: none;
}



