.groupChatRowRoot {

    all: unset;
    position:relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    opacity: var(--filled);
    border-radius: 10px;
    gap: var(--space-5);
  
}

.gcRowTitle {

    display: flex;
    font-size: var(--20px);
 
}

.gcRowUserGrid {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: auto;
    margin: auto;
    gap: var(--space-2);

}

.gcRowUserGrid:hover {

    /* background-color: var(--color-hover);
    opacity: var(--dimmed); */

}



