
.gcListRoot {

    display: flex;
    flex-direction: column;
    margin-left: var(--space-5);
    margin-right: var(--space-5);
    align-items: baseline;
    overflow: hidden;
    overflow-y: auto;
    gap: var(--space-5);

}

.gcListRoot {

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.gcListRoot::-webkit-scrollbar {
    
    display: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
