.groupChatRowRoot {

    all: unset;
    position:relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    opacity: var(--filled);
    border-radius: 10px;
    align-items: baseline;
    gap: var(--space-2);
    padding: var(--space-2);
    width: fit-content;
}


.groupChatRowRoot:hover {

    background-color: var(--color-hover);

}

.gcRowTitle {

    display: flex;
    justify-content: center;
    font-size: var(--small-font-size);

}

.gcRowUserGrid {

    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(40px, 1fr)
    );
    max-width: calc(6 * 40px);
    gap: var(--space-2);
    padding: var(--space-2);
    border: 1px solid var(--color-border-dark);
    border-radius: 10px;
}
