.groupChatRowRoot {

    all: unset;
    position:relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    opacity: var(--filled);
    border-radius: 10px;
    width: fit-content;
    height: 165px;
    width: 100%;
}

.gcRowTitle {

    display: flex;
    justify-content: center;
    padding: var(--space-2);
    font-size: var(--small-font-size);
 
}

.gcRowUserGrid {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    border: 1px solid var(--color-border-dark);
    border-radius: 10px;

    padding: var(--space-2);
    gap: 2px;

    overflow: hidden;
    overflow-y: scroll;

}

.gcRowUserGrid:hover {
    background-color: var(--color-hover);
}


