.gcListRoot {

    display: grid;
    gap: var(--space-4);
    border-top: 1px solid var(--color-border-dark);
    max-height: 40vh;
    overflow: hidden;
    overflow-y: auto;
    padding-bottom: var(--space-4);

}

.gcListRoot {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.gcListRoot::-webkit-scrollbar {
    display: none;
}

.gcThreshold {
    display: flex;
    margin-top: var(--space-5);
    justify-content: center;
    font-size: var(--24px);

}

