.groupChatRowRoot {

    all: unset;
    position:relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    opacity: var(--filled);
    border-radius: 10px;
    height: 160px;
  
}

.gcRowTitle {

    justify-content: center;
    padding: var(--space-2);
    font-size: var(--small-font-size);
 
}

.gcRowUserGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 120px;
    max-height: 120px;
    border: 1px solid var(--color-border-dark);
    border-radius: 10px;
    overflow-y: scroll;
    margin: auto;
    padding: var(--space-2);
}

.gcRowUserGrid:hover {
    background-color: var(--color-hover);
    opacity: var(--dimmed);
}


