.groupsRoot{

    display: flex;
    flex-direction: column;
    width: 320px;
    margin: auto;
}

.gcThreshold {

    display: flex;
    border-top: 1px solid var(--color-border-dark);
    border-top: 1px solid var(--color-border-dark);
    border-radius: 10px;
    padding-top: var(--space-5);
    padding-bottom: var(--space-5);
    margin-top: var(--space-2);
    margin-bottom: var(--space-2);
    justify-content: center;
    font-size: var(--24px);
}

.gcListRoot {

    display: flex;
    flex-direction: column;
    gap: var(--space-5);
    max-height: 40vh;
    overflow-y: scroll;
    align-items: baseline;

}

.gcListRoot {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.gcListRoot::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
