<div class="month">
    <div class="week" id="week1">
        <div class="day" id="week1sun"></div>
        <div class="day" id="week1mon"></div>
        <div class="day" id="week1tue"></div>
        <div class="day" id="week1wed"></div>
        <div class="day" id="week1thu"></div>
        <div class="day" id="week1fri"></div>
        <div class="day" id="week1sat"></div>   
    </div>
    <div class="week" id="week2">
        <div class="day" id="week2sun"></div>
        <div class="day" id="week2mon"></div>
        <div class="day" id="week2tue"></div>
        <div class="day" id="week2wed"></div>
        <div class="day" id="week2thu"></div>
        <div class="day" id="week2fri"></div>
        <div class="day" id="week2sat"></div>
    </div>
    <div class="week" id="week3">
        <div class="day" id="week3sun"></div>
        <div class="day" id="week3mon"></div>
        <div class="day" id="week3tue"></div>
        <div class="day" id="week3wed"></div>
        <div class="day" id="week3thu"></div>
        <div class="day" id="week3fri"></div>
        <div class="day" id="week3sat"></div>
    </div>
    <div class="week" id="week4">
        <div class="day" id="week4sun"></div>
        <div class="day" id="week4mon"></div>
        <div class="day" id="week4tue"></div>
        <div class="day" id="week4wed"></div>
        <div class="day" id="week4thu"></div>
        <div class="day" id="week4fri"></div>
        <div class="day" id="week4sat"></div>
    </div>
    <div class="week" id="week5">
        <div class="day" id="week5sun"></div>
        <div class="day" id="week5mon"></div>
        <div class="day" id="week5tue"></div>
        <div class="day" id="week5wed"></div>
        <div class="day" id="week5thu"></div>
        <div class="day" id="week5fri"></div>
        <div class="day" id="week5sat"></div>
    </div>
    <div class="week" id="week6">
        <div class="day" id="week6sun"></div>
        <div class="day" id="week6mon"></div>
        <div class="day" id="week6tue"></div>
        <div class="day" id="week6wed"></div>
        <div class="day" id="week6thu"></div>
        <div class="day" id="week6fri"></div>
        <div class="day" id="week6sat"></div>
    </div>
</div>
