  <!-- create new exercise box -->
  <div class="createExerciseBox">
    <div class="createExerciseBoxHeader">
      <div id="newExerciseTitle">New Exercise</div>
      <div id="X">X</div>
    </div>
    <form class="createExerciseFields">
      <input type="text" class="inputField" id="inputExerciseName"    placeholder="Exercise Name">
      <input type="textbox" class="inputField" id="inputDescription"  placeholder="Exercise Description">
      <input type="submit" class="button" id="submitNewExercise">
      <div id="submitErrorMsg"></div>
    </form>
  </div>