.layout {
    display: grid;
    grid-template-columns: 340px 1fr;
    grid-template-rows: 150px 1fr;
    height: 100vh;
    width: 100%;
}

.layout-header {
    border-bottom: 1px solid var(--color-border-dark);
    grid-column: 1 / -1;
    grid-row: 1;
    padding: var(--space-5);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.layout-sidebar {
    grid-column: 1;
    grid-row: 2;
    border-right: 1px solid var(--color-border-dark);
}

.layout-main {
    position: relative;
    grid-column: 2;
    grid-row: 2;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

