.addExerciseContainer {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    font-size: var(--small-font-size);
    padding-top: var(--space-6);
    padding-bottom: var(--space-5);
    border-top: 1px solid var(--color-border-dark);
}

.addExerciseContainer button{
    all: unset;
    grid-column: 5;
    justify-self: center;
}

.addExerciseContainer button:hover {
    opacity: var(--dimmed);
}

.addExerciseContainer button svg{
    all: unset;
    color: var(--color-text-muted);
    cursor: pointer;
    width: var(--icon-size-small);
    height: 100%;
}

.addExerciseText {
    grid-column: 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--color-text-muted);
    font-size: var(--small-font-size);
    cursor: default;
}