.exercise{
    display: flex;
    flex-direction: column;
    position: relative;
}

.exerciseHeader {
    font-size: var(--small-font-size-2);
    color: var(--color-text-muted);
    border-bottom: 1px solid var(--color-border-dark);
    padding: var(--space-5);
    margin-left: var(--space-5);
    margin-right: var(--space-5);
}