.setNoteRoot{
    display: flex;
    flex-direction: column;
    border-bottom: 1px dotted var(--color-border-dark);
    overflow: hidden;
}

.setNoteHeader{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    margin-top: var(--space-5);
    margin-left: var(--space-6);
}

.setNoteRef {
    font-size: var(--small-font-size);
    color: var(--color-text-muted);
}

.setNoteSave{
    all: unset;
    grid-column: 9;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    padding-right: var(--space-5);
    padding-left: var(--space-5);
}

.setNoteSave svg {
    width: calc(24px * var(--ui-scale));;
    height: 100%;
    color:var(--icon-notes-color);
}

.setNoteSave:hover {
    opacity: var(--dimmed);
}

.setNoteBody {
    all: unset;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    resize: none;
    overflow: hidden;
    font-size: var(--small-font-size-1);
    color: var(--color-text-muted);
    width: 93%;
    max-height: calc(200px * var(--ui-scale));
    margin-top: var(--space-5);
    margin-left: var(--space-6);
    margin-bottom: var(--space-4);
}