.workoutRoot{
    width: calc(1000px * var(--ui-scale));
    min-width: calc(900px * var(--ui-scale));
    margin-inline: auto;
    border: 1px solid var(--color-border-dark);
    border-radius: 10px;
    margin-top: calc(50px * var(--ui-scale));
    margin-bottom: calc(100px * var(--ui-scale));
}