.chatBoxHeader {
    display: flex;
    justify-content: center;
    gap: var(--space-2);
    height: fit-content;
    padding: var(--space-4);
    margin: var(--space-5);
}

.profilePicChatBoxHeader {
    display: grid;
    justify-self: center;
    cursor: pointer;
}

.profilePicChatBoxHeader svg {
    width: var(--icon-size-large);
    color: var(--color-text-muted);
}

.onlineProficHeader svg {
    color: var(--color-online-indicator);
}


.onlineProficHeaderName {
    color: var(--color-online-indicator);
}

.userNameChatBoxHeader {
    display: flex;
    justify-content: center;
    color: var(--color-text-muted);
}


.chatTitle{
    display: flex;
    justify-content: center;
    color: var(--color-text-muted);
    font-size: var(--small-font-size-2);
    margin: var(--space-2);
}