.chatBoxInputRoot{

    display: grid;
    grid-template-columns: 1fr 70px;
    margin-left: var(--space-5);
    margin-bottom: var(--space-5);
}

.chatBoxInput {

    all: unset;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    resize: none;
    overflow-x: auto;
    font-size: var(--small-font-size-1);
    color: var(--color-text-bright);
    border: 1px solid var(--color-border-dark);
    border-radius: 10px;
    height: 60px;
    line-height: 60px;
    padding-left: var(--space-5);
}

.chatBoxInput:active {
    background-color: var(--color-hover);
}

.sendChatText {
    
    all: unset;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-content: center;
}

.sendChatText svg {
    opacity: var(--dimmed);
    width: var(--icon-size-small);
    color: var(--color-text-muted);
}

.highlighted svg{
    opacity: var(--filled);
    color: var(--color-online-indicator);
}

.sendChatText svg:hover{
    opacity: var(--filled);
    color: var(--color-online-indicator);
}