.chatBoxRoot {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 180px;
    left: 270px;
    z-index: 3;
    width: calc(700px * var(--ui-scale));
    max-height: 70%;
    border: 1px solid var(--color-border-dark);
    border-radius: 10px;
    background-color: var(--color-chat-bg);
    box-shadow: 0px 0px 10px 5px var(--color-shadow);
    opacity: 98%;
}

