.chatBoxMainRoot {

    display: flex;
    flex: 1;
    flex-direction: column;
    border: 1px solid var(--color-border-dark);
    border-radius: 10px;
    min-height: 0;
    overflow-y: auto;
    padding-top: var(--space-5);
    padding-bottom: var(--space-5);
    margin: var(--space-5);
    padding: var(--space-4);

}

.emptyChat {

    color: var(--color-text-muted);
    font-size: var(--24px);
    padding: var(--space-5);

}

.chatMsgProfilePic svg{

    width: var(--icon-size-small);

}


.typingInChat {

    display: flex;


}

.userTyping {

    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    color: var(--color-text-muted);
    font-size: var(--12px);
    font-style: italic;
    text-align: center;

}

.typingIconInChat svg {

    display: flex;
    color: var(--color-online-indicator);
    width: var(--icon-size-small);

}
