.chatBoxInputRoot{
    display: grid;
    grid-template-columns: 1fr 70px;
    margin-left: var(--space-5);
    margin-bottom: var(--space-5);
}

.chatBoxInput {
    all: unset;
    display: flex;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    resize: none;
    overflow: hidden;
    font-size: var(--small-font-size-1);
    color: var(--color-text-bright);
    border: 1px solid var(--color-border-dark);
    border-radius: 10px;
    padding-top: var(--space-4);
    padding-left: var(--space-2);
    padding-right: var(--space-2);
}

.chatBoxInput:active {
    background-color: var(--color-hover);
}

.sendChatText {
    all: unset;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-content: center;
}

.sendChatText svg {
    opacity: var(--dimmed);
    width: var(--icon-size-small);
    color: var(--color-text-muted);
}

.highlighted svg{
    opacity: var(--filled);
    color: var(--color-online-indicator);
}

.sendChatText svg:hover{
    opacity: var(--filled);
    color: var(--color-online-indicator);
}