.chatBoxHeader {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: fit-content;
}

.profilePicChatBoxHeader {
    grid-row: 1;
    display: grid;
    justify-self: center;
    cursor: pointer;
}

.profilePicChatBoxHeader svg {
    width: var(--icon-size-large);
    color: var(--color-text-muted);
}

.onlineProficHeader svg {
    color: var(--color-online-indicator);
}

.userNameChatBoxHeader {
    grid-row: 2;
    display: flex;
    justify-self: center;
    font-size: var(--medium-font-size);
    color: var(--color-text-muted);
}

.typing {
    animation: fadeInOut 2s ease-in-out infinite;
}

@keyframes fadeInOut {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}
