.chatBoxHeader {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-2);
    max-height: 250px;
    min-height: 110px;
    margin: var(--space-5);
    gap: var(--space-1);
    overflow-y: scroll;

}

.profilePicChatBoxHeader {

    display: flex;
    flex-direction: column;
    justify-self: center;
    cursor: pointer;
}

.profilePicChatBoxHeader svg {
    color: var(--color-text-muted);
}

.onlineProficHeader svg {
    color: var(--color-online-indicator);
}


.onlineProficHeaderName {
    color: var(--color-online-indicator);
}

.userNameChatBoxHeader {
    
    display: flex;
    justify-content: center;
    padding: var(--space-2);
    color: var(--color-text-muted);
}

.chatTitle{
    
    all: unset;
    color: var(--color-text-muted);
    font-size: var(--small-font-size-2);
    margin: auto;
    text-align: center;
    padding: var(--space-5);

}