.chatBoxMainRoot {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-top: 1px solid var(--color-border-dark);
    border-bottom: 1px solid var(--color-border-dark);
    border-radius: 0px;
    min-height: 0;
    overflow-y: auto;
    margin-left: var(--space-5);
    margin-right: var(--space-5);
    margin-bottom: var(--space-5);
    padding-right: var(--space-4);
}

.emptyChat {
    color: var(--color-text-muted);
    font-size: var(--24px);
    padding: var(--space-5);
}

.chatMsgProfilePic svg{
    width: var(--icon-size-small);
}

.typingIconInChat svg {
    color: var(--color-text-muted);
    width: var(--icon-size-small);
}
