.chatBoxMessageRoot {
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    scroll-behavior: smooth;
    cursor: pointer;
    margin-bottom: var(--space-4);
}

.chatText {
    
    margin-bottom: var(--space-1);
    font-size: var(--small-font-size-2);
    color: var(--color-text-muted);
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    resize: none;
    overflow: hidden;
}

.otherChatter {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--space-2);
    color: var(--color-text-muted);
    width: 100%;
}

.selfChatter {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    text-align: right;
    gap: var(--space-2);
    color: var(--color-text-muted);
}

.chatSenderName {
    font-size: var(--small-font-size);
}

.chatTime {
    color: var(--color-border-dark);
    font-size: var(--12px);
}

.chatTime:hover {
    color: var(--color-text-muted);
}

.lastMsg {
    color: var(--color-text-muted);
}

.avatarChat {
    align-self: flex-end;
    margin: var(--space-1);
}
