.groupChatBoxRoot {

    display: flex;
    flex-direction: column;
    align-content: center;
    position: fixed;
    z-index: 3;
    width: calc(700px * var(--ui-scale));
    max-height: 70vh;
    border: 1px solid var(--color-border-dark);
    background-color: var(--color-bg);
    /* box-shadow: 0px 0px 10px 5px var(--color-shadow); */
    margin: var(--space-4);
    border-radius: 10px;
    opacity: 98%;
    
}

.groupChatdocked {

    position: relative;
    z-index: 0;
    top: 0;
    left: 0;
    width: calc(1000px * var(--ui-scale));
    min-width: calc(900px * var(--ui-scale));
    margin-inline: auto;
    max-height: 70vh;
    margin-top: calc(100px * var(--ui-scale));
    box-shadow: 0px 0px 0px 0px rgb(0, 0,0,0);
    border: 1px solid var(--color-border-dark);
    border-radius: 10px;

}