
/*-------------------------------------------------------*/
:root {
    font-family: 'Arial', sans-serif; 
    font-size: 16px; 
    line-height: 1.5;
    color: #333; 
    background-color: black;
    height: 100vh;
  }
/*-------------------------------------------------------*/
ul {
    list-style: none;
    padding-left: 0%;
  }
li {
    padding-left: 0%;             /*these indent too much*/
}

/*-------------------------------------------------------*/
/* GENERAL BUTTON CLASS
/*-------------------------------------------------------*/
.button {
    padding: 1rem;
    border-radius: 0px;
    background-color: black;
    color: gray;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.1s ease-in;
    margin-top: 10px;
}
.button:hover {
    background-color: cornflowerblue;
    color: black;
}
/*-------------------------------------------------------*/
/* MAIN BROWSER CONTAINER
/*-------------------------------------------------------*/
.container {                         /*the entire browser*/
    display: flex;       
    flex-direction: column; 
    min-height: 90vh;    
    max-height: 95vh;
  }
/*-------------------------------------------------------*/
/* HEADER AND FOOTER
/*-------------------------------------------------------*/
.header{
    background-color:rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    min-height: 70px;
}
.footer{
    border-top: 1px solid #333;
}
#headerTitle {
    margin-left: 40px;
    margin-top: 20px;
    color:mintcream;
    font-size: 2rem;
    flex:8;
    letter-spacing: 0.0em;
}
.headerButtons {
    display: flex;
    flex: 2;
    justify-content: flex-end;
    gap: 1rem;
    min-width: fit-content;
}
/*-------------------------------------------------------*/
/* LIFTER WINDOW (main dashboard) AND SIDEBAR
/*-------------------------------------------------------*/
.dashboard {      /*holds lifter window and sidebar*/
    display: flex;
    flex-direction: row;
    flex: 1;
    border-top: solid;
    border-color: #333;
    border-width: 1px;
}
/*-------------------------------------------------------*/
/* LIFTER WINDOW (main dashboard) - columns
/*-------------------------------------------------------*/
.lifterBox {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #333;
    background-color:black; 
    flex: 2;
    padding: 20px;
    overflow: clip;
    overflow: hidden;
}
.lifterBoxHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
#lifterHeaderName {
    margin-top: 20px;
    font-size: 3rem;
    color: mintcream;
    /* border-style: solid;
    border-color: white;
    border-width: 1px; */
    margin-left:10px;
    margin-bottom: 100px;
}
#lifterConfig {
    margin-top: 34px;
    align-self:flex-start;
    font-size: 1rem;
    color: palevioletred;
    visibility: hidden;
    /* border-style: solid;
    border-color: white;
    border-width: 1px; */
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#lifterConfig:hover {
    color: red;
}
/*-------------------------------------------------------*/
/* H LIFTER WINDOW -> HEADER FOR THE DASHES
/*-------------------------------------------------------*/
.dashHeader {
    display: flex;
    flex-direction: row;
    position: relative;
    align-self: center;
    width: fit-content;
    height: fit-content;
    border-bottom: 1px solid #222;
    margin-bottom: 40px;
    user-select: none;
}
.dashHeaderTitle {
    color: #333;
    padding-top: 2rem;
    font-size: 1rem;
    flex: 1;
    user-select: none;
}
.minimizer {
    display: flex;
    color: mintcream;
    font-size: 3rem;
    padding-top: 0;
    user-select: none;
}
.minimizer:hover {
    color: palegreen;
    cursor: pointer;
}
/*-------------------------------------------------------*/
/* LIFTER WINDOW -> PR DASHBOARD 
/*-------------------------------------------------------*/
#prDashHeader{
    max-width: 100%;
    min-width: 1050px;
}
.prDash {
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: safe center;
    overflow-x: auto;
    padding: 10px;
    min-width: min-content;
    margin-top: -50px;
    padding-left: 40px;
    max-width: 90%;
    font-size: 1rem;
}
.prDashVisible {
    display: none;
}
.prCell {
    display: flex;
    position: relative;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    outline: 1px solid #222;
    overflow: visible;
    user-select: none;
} 
.prRepsTitle {
    color: mintcream;
    outline: none;
}
.repNumberBoxInHeader {
    display: flex;
    flex-direction: column;
}
#repNumberBoxInHeader_0 {
    outline: none;
}
.repNumInHeader {
    display: flex;
    align-self: center;
    color: mediumaquamarine;
}
.prLiftRow{
    display:flex;
    color: mintcream;
}
.prLiftNameBox{
    display: flex;
    position: relative;
    min-width: 120px;
    flex-direction: column;
    justify-content: center;
}
#repNumberBoxInHeader_0{
    min-width:120px;
    outline: none;
}
.prLiftName{
    display: flex;
    right: 50px;
    top: 8px;
    justify-content: center;
    font-size: 1rem;
    color: cornflowerblue;
}
.repPRbox{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.prPresent{
    color: mintcream;
    /* background-color: #333; */
    cursor: pointer;
}
.prPresent:hover{
    background-color: palegreen;
    color: black;
}
.prPresent:hover .prToolTip{
    display: flex;
    position: absolute;
    opacity: 1;
    width: 10rem;
    top: 100%;
    right: 50%;
    color: mintcream;
    background-color: #222222d6;
    outline: 1px solid #444;
    z-index: 1000;
    overflow: visible !important;
}
.prToolTip{
    display: none;
    opacity: 0;
    flex-direction: column;
}
.prToolTipWeightsRepsWrapper{
    display: flex;
    flex-direction: row;
}
.prWeight{
    align-self: center;
    display: flex;
    font-size: 0.75rem;
    pointer-events: none;
}
/*-------------------------------------------------------*/
/* LIFTER WINDOW -> CALENDAR DASHBOARD 
/*-------------------------------------------------------*/
.monthlyChartDashWrapper{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    max-width: 1050px;
    min-width: 1050px;
    padding-bottom: 50px;
}
.monthlyChartDash{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.monthlyChartDashVisible{
    display: none;
}
.monthlyChartWrapper{
    display: none;
}
.monthlyChartWrapperVisible{
   display: flex;
   flex-direction: column;
   align-self: center;
}
.monthlyChart{
    flex: 1;
}
.monthlyChartTitle{
    color: #555;
    display: flex;
    align-self: center;
    margin-bottom: 50px;
}
.monthlyVolumeTotal, .monthlyIntensityTotal, .monthlyFrequencyTotal {
    color: mintcream;
    flex: 1;
}
/*-------------------------------------------------------*/
/* LIFTER WINDOW -> CALENDAR DASHBOARD -> CALENDAR 
/*-------------------------------------------------------*/
.calendarWrapper{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 50px;
}
.month {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 20px;
    min-width: fit-content;
    display: none;
    height: fit-content;
}
.week { 
    display: flex;
    flex-direction: row;
}
.day {
    display: flex;
    flex-direction: row;
    position: relative;
    outline: solid #222 1px;
    background-color: #0a0a0a;
    user-select: none;
    padding: 2rem;
    margin: 7px;
    transition: background-color, outline 100ms ease-in;
    width: 40px;
    height: 40px;
    cursor: pointer;
    user-select: none;
}
.day:hover {
    outline: 1px solid palegreen;
    .dayNum{
        color: mintcream;
    }
}
.dayNum{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    font-size: 1rem;
    pointer-events: none;
    margin: 4px;
    color: mintcream
}
.daySelected{
    background-color:rgba(186, 85, 211, 0.174);
    color: mintcream;
}
.prDateHighlighted{
    outline: 1px solid palegreen;
}
.dayLifted{
    background-color: none;
}
.today {
    outline: 1px solid #999;
    color: mintcream;
}
.squatDay{
    position: relative;
    width: 10px;
    height: 10px;
    min-width: 10px;
    min-height: 10px;
    background-color: palegreen;
    pointer-events: none;
    margin: 1px;
}
.benchDay{
    position: relative;
    width: 10px;
    height: 10px;
    min-width: 10px;
    min-height: 10px;
    background-color:paleturquoise;
    pointer-events: none;
    margin: 1px;
}
.deadDay{
    position: relative;
    width: 10px;
    height: 10px;
    min-width: 10px;
    min-height: 10px;
    background-color: palegoldenrod;
    pointer-events: none; 
    margin: 1px;
}
.otherLiftDay{
    position: relative;
    width: 10px;
    height: 10px;
    min-width: 10px;
    min-height: 10px;
    background-color: palevioletred;
    pointer-events: none; 
    margin: 1px;   
}
.unfocusedDate {
    outline: none;
}
.dayName {
    color: #888;
    position: absolute;
    top: -20px;
    font-size: 0.5rem;
}
.weekNumber {
    color: #444;
    position: absolute;
    left: -50px;
    font-size: 0.5rem;
    
}
.dateWrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    min-width: min-content;
    align-self: flex-end;
    margin-bottom: 20px;
}
.monthTitle{
    font-size: 2rem;
    color: #555;
    margin-right: 20px;
}
.yearTitle{
    color: #777;
    font-size: 2rem;
}


/*-------------------------------------------------------*/
/* WORKOUT AREA
/*-------------------------------------------------------*/
.workout {
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: safe center;
    display: none;
    overflow-x: auto;
    padding: 20px;
    height: fit-content;
    scrollbar-width: 0px;
    max-width: 95%;

}
.workout > * {
    min-width: max-content; /* or a specific min-width */
}
.workoutHeader {
    display: flex;
    flex: row;
}
.sessionTitle{
    color: white;
    font-size: 1rem;
    margin-right: 20px;
    margin-bottom: 20px;
}
.trainingDate{
    color: grey;
    font-size: 1rem;
}
/*-------------------------------------------------------*/
/* cursor
/*-------------------------------------------------------*/
.cursor{
    outline: solid rgba(60, 179, 114, 0.261) 1px;
    padding:  1rem;
    position: relative;
    width: 1rem;
    color: mediumspringgreen;   
    text-align: center;
    cursor: pointer;
}
.cursor:hover {
    background-color: rgba(60, 179, 114, 0.357);
    color: mintcream;
    outline: 1px solid darkgreen;
}
.plus{
    font-size: 3rem;
    color: mintcream;
}
#cursorForprDashBoard{
    margin-top: 20px;
    align-self: center;
    justify-self: center;
}
#cursorForworkoutDash{
    position: fixed;
    bottom: 20px;
    right: 40px;
    width: 100px;
    height: 100px;
    margin: 0px;
    align-content: center;
    justify-content: center;
    outline: 1px solid mintcream;
    background-color: #111;
    color: mintcream;
}
#cursorForworkoutDash:hover{
    background-color: rgba(152, 251, 152, 0.379);
}

/*-------------------------------------------------------*/
/* WORKOUT AREA -> EXERCISE ROW
/*-------------------------------------------------------*/
.exerciseRow{
    padding-left: 0px;
    display: flex;
    position: relative;
    flex-direction: row;
    margin-bottom: 10px;
    user-select: none;
}
/*-------------------------------------------------------*/
/* EXERCISE -> SET
/*-------------------------------------------------------*/
.set{
    display: flex;
    flex-direction: row;
    position: relative;
    outline: 1px solid #333;
    font-size: .75rem;
    margin-right: 10px;
    padding-top: 10px;
    padding-left: 1rem;
    cursor: pointer;
    min-width: 7rem;
    overflow: auto;
    gap: 0;
}
.setExpand{
    width: 20rem;
}
.set:hover{
    outline-color:mediumseagreen;
}
.setInfoWrapper{
    display: flex;
    position: relative;
    flex-direction: column;
    pointer-events: none; 
    line-height: 1;
}
.setWeightRepsWrapper{
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0;
    padding: 0;
    gap: 0;    
    pointer-events: none; 
}
.setRPEwrapper{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    pointer-events: none;  
    color: gray;
}
.setRPE{
    margin-top: 10px;
    color: mintcream;
    pointer-events: none;  
}
.setNumber{
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-size: .75rem;
    color: mintcream;
    pointer-events: none;  
}
.setWeight{
    font-size: 1.75rem;
    color:mintcream;
    pointer-events: none;    
}
.setBy{
    font-size: 1rem;
    color:gray;
    pointer-events: none;    
}
.setReps{
    font-size: 1.5rem;
    color:mintcream;
    pointer-events: none;  
}
.setReps:hover{
    color: aquamarine;
}


/*-------------------------------------------------------*/
/* WOKROUT AREA -> EXERCISE ROW -> SET-> UPDATE FORM
/*-------------------------------------------------------*/
.setUpdateForm{
    display: none;
}
.setUpdateFormVisible{
    display: flex;
    width: fit-content;
    position: relative;
    gap: 0;
    overflow: visible;
}
.setUpdate{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 10px;
}
.setInfoField{
    background-color:black;
    border: none;    
    margin-left:20px;
    font-size: .75rem;
    color: mintcream;
    max-width: 30px;
}
.setInfoField:focus {
    background-color: black;
    border-color: none;
    box-shadow: none;
    outline: none;
}
.setInfoField:hover {
    outline: none;
    color: greenyellow;
}
.setButton{
    position: absolute;
    top: 20px;
    left: 80px;
    color: mintcream;
    cursor: pointer;
    min-width: fit-content;
}
.setButton:hover{
    color: greenyellow;
}
.inputWrapper{
    display: flex;
    flex-direction: row;
    max-width: 100px;
}
.inputTag{
    position: relative;
    color: grey;
}

/*-------------------------------------------------------*/
/* WOKROUT AREA -> EXERCISE ROW -> SET-> UPDATE FORM -> REMOVE SET
/*-------------------------------------------------------*/
.setRemove{
    position: absolute;
    color: red;
    bottom: 5px;
    right: 10px;
}

/*-------------------------------------------------------*/
/* WOKROUT AREA -> EXERCISE ROW  -> ADD SET
/*-------------------------------------------------------*/
.addSet{
    position: relative;
    color: mintcream;
}
.exercise{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1rem;
    height: 6.5rem;
    width: 6.5rem;
    outline: 1px solid #666;
    color:mintcream;
    margin-right: 20px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
}
.exercise:hover{
    outline: 1px solid mediumorchid;
    color: mintcream;
    .addSet{
        color:mintcream;
    }
}


/*-------------------------------------------------------*/
/* LITER DASH -> ADD EXERCISE
/*-------------------------------------------------------*/
.addExerciseDash {
    display: none;
}
.addExerciseDashVisible {
    display: flex;
    flex-direction: column;
    outline: 1px dotted #333;
    position:relative; /* This will make it stay in place while scrolling */
    background-color: #111;
    z-index: 1000;
}
#exerciseDashForprDashBoard{
    position:fixed;
    bottom: 0px;
    left: 0px;
    min-width: 100%;
    background-color: #111111f7;
}
#exerciseDashForworkoutDash{
    position:fixed;
    top: 0px;
    left: 0px;
    min-width: 100%;
    background-color: #111111f7;
}
.addExerciseBoxHeader {
    display: flex;
    flex-direction: row;
    position: relative;
}
#addExerciseTitle {
    font-size: 1rem;
    color: mintcream;
    margin-left: 10px;
    padding: 10px;
    flex: 2;
}
#addExerciseX {
    color: mintcream;
    padding: 10px;
    flex: 0;
    cursor: pointer;
}   
#addExerciseX:hover {
    color: brown;
}  
.exerciseSelectionWrapper{
    display: flex;
    flex-direction: row;
    position: relative;
}
.SquatCategory, .BenchCategory, .DeadliftCategory, .AccessoriesCategory{
    display: flex;
    flex-direction: column;
    border-left: 1px solid #222;
    font-size: 2rem;
    flex: 1;
    padding-left: 10px;
    color:cornflowerblue;
}
.SquatCategory{
    border: none;
}
.CategoryHeader {
    padding: 10px;
}
.exercisesInDB{
    display: grid;
    color: mintcream;
    padding:5px;
}
.exerciseMenuItem {
    font-size: 1rem;
    color: mintcream;
    padding-left: 10px;
    cursor: pointer;
}
.exerciseMenuItem:hover{
    font-size: 1rem;
    color: black;
    background-color: cornflowerblue;
}
.exerciseDescriptionWrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.exerciseDescriptionHeader{
    display: none;
}
.exerciseDescription{
    display: flex;
    flex-direction: row;
    color:mediumspringgreen;
    padding: 20px;
    border-top:  1px solid #222;
}
/*-------------------------------------------------------*/
/* THE SIDEBAR
/*-------------------------------------------------------*/
.sidebar {
    display: flex;
    flex-direction: column; /*for adding buttons*/
    background-color: black;
    flex: .35;
    justify-content: flex-start;
    overflow: hidden;
    overflow-y: scroll;
}
.sidebar.visible{
    display:none;
}
/*-------------------------------------------------------*/
/* LIFTER NAME IN THE SIDEBAR
/*-------------------------------------------------------*/
.lifterName {
    border-radius: 0px;
    color: mintcream;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.lifterName:hover {
    background-color: cornflowerblue;
    color: black;
}
/*-------------------------------------------------------*/
/* CREATE A LIFTER POP UP BOX
/*-------------------------------------------------------*/
.createLifterBox, .createExerciseBox {
    top: 25%;
    left: 25%;
    width: 500px;
    height: 450px;
    display: none;
}
.createLifterBox.visible, .createExerciseBox.visible{
    display: flex;
    flex: .75;
    flex-direction: column;
    min-width: 500px;
}

.createLifterBoxHeader, .createExerciseBoxHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.X {
    align-content: center;
    text-align: center;
    font-size: 1rem;
    color: gray;
    margin-right: 30px;
    margin-top: 20px;
    flex: 1;
}
.X:hover {
    /* border-color: palegoldenrod; */
    color:palegreen;
}
#newLifterTitle, #newExerciseTitle {
    margin-left: 8%;
    margin-top: 20px;
    font-size: 1rem;
    color:mintcream;
    flex: 9;
}

.createLifterFields {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;            
    align-items: center;         
    gap: 20px;
}
.inputField {
    background-color: #111; 
    border: none;
    outline: none;     
    width: 80%;
    padding: 10px;
    border-radius: 0px;
    font-size: 1rem;
    color: black;
}
.inputField:focus {
    background-color: darkslateblue;
    border-color: none;
    box-shadow: none;
    outline: none;
}
.inputField:hover {
    outline: 1px solid palegreen;
}
.inputField:not(:placeholder-shown) {
    color: mintcream;         /* Active text color */
}
#submitNewLifter {
    padding: 1.5rem;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
#submitNewLifter:hover {
    background-color: palegreen;
    border-color: black;
    color: black;
}
#submitErrorMsg {
    margin-top: 50px;
    color: palevioletred;
}