.exerciseSelectionRoot {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    z-index: 2;
    min-width: calc(1000px * var(--ui-scale));
    background-color: var(--color-hover);
    border-bottom: 1px solid var(--color-border-dark);
}
