<div class="header">
    <div id="headerTitle">The Squat Rack</div>
    <div class="headerButtons">
      <!-- can add more buttons later -->
      <div class="button">
        <div class="buttonContent" id="activeLifters">active lifters</div>
      </div> 
      <div class="button">
        <div class="buttonContent" id="addLifter">create account</div>
      </div> 
      <div class="button">
        <div class="buttonContent" id="login">login</div>
      </div> 
      <div class="button">
        <div class="buttonContent" id="logout">logout</div>
      </div> 
    </div>
</div>