<div class="header">
    <div id="headerTitle">The Squat Rack</div>
    <div class="headerButtonsWrapper">
      <!-- can add more buttons later -->
      <div class="button headerButton" id="activeLifters">
        <div class="buttonContent">active lifters</div>
      </div> 
      <div class="button headerButton" id="addLifter">
        <div class="buttonContent">create account</div>
      </div> 
      <div class="button headerButton" id="login">
        <div class="buttonContent">login</div>
      </div> 
      <div class="button headerButton" id="logout">
        <div class="buttonContent">logout</div>
      </div> 
    </div>
</div>