  <!-- create a lifter box -->
  <div class="loginBox">
    <div class="loginBoxHeader">
      <div id="loginBoxTitle">Login</div>
      <div class="X" id="loginX">X</div>
    </div>
    <form class="loginBoxFields">
      <input type="text" class="inputField" id="loginUserName"  placeholder="Username ">
      <input type="password" class="inputField" id="loginPassword"  placeholder="Password">
      <input type="submit" class="button" id="loginLifter" value="login">
      <div id="submitErrorMsg"></div>
    </form>
  </div>