<div class="dashboard">
    <div class="lifterBox" id="lifterBox">
        
        <div class="lifterBoxHeader">
            <div id="lifterHeaderName"></div>
            <div id="lifterConfig">○</div>
        </div>
        {% include 'partials/calendarDash/calendarDash.html' %}
        {% include 'partials/monthlyChartDash.html' %}
        {% include 'partials/prDash.html' %}
    </div>

    {% include 'partials/workoutDash.html' %}
    <div class="sidebar" id="lifterMenu"> </div>
    {% include 'partials/newlifter.html' %}

</div>
