<!-- create a lifter box -->
<div class="newLifterWrapper">
    <div class="createLifterBox">
        <div class="createLifterBoxHeader">
            <div id="newLifterTitle">New lifter</div>
            <div class="X" id="newLifterX">X</div>
        </div>
    <form class="createLifterFields">
        <input type="text" class="inputField" id="inputUserName" placeholder="Username (required)">
        <input type="password" class="inputField" id="inputPassword" placeholder="Password (required)">
        <input type="text" class="inputField" id="inputFirst" placeholder="First name">
        <input type="text" class="inputField" id="inputLast" placeholder="Last name">
        <input type="text" class="inputField" id="inputEmail" placeholder="Email (optional)" type="email">
        <input type="submit" class="button" id="submitNewLifter">
        <div id="submitErrorMsg"></div>
    </form>
    </div>
    <div class="newLifterInfoBox">
        <div class="newLifterInfoBoxTitle">Create a new Lifter</div>
        <div class="newLifterInfoBoxMain">
            <p>Pick a unique username, choose a password, then start tracking!</p>
        </div>
    </div>
</div>