.avatar {
    border-radius: 5px;
    overflow: hidden;
}

.avatarOnline {
    border-radius: 5px;
    box-shadow: var(--color-avatar-online);
}

.avatarOffline {
    opacity: var(--dimmed);
    filter: grayscale(100%);
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: var(--filled);
}

.avatar:hover img{

    opacity: var(--dimmed);

}


.avatarMe {
    opacity: var(--filled);
}

.avatarMe:hover {
    opacity: var(--dimmed);
}

.defaultAvatar svg {
    display: block;
    width: 100%;
}
