.avatar {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    align-self: center;
    justify-content: center;
    border: 1px solid var(--color-border-dark);
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: var(--filled);
}

.avatar img:hover{
    opacity: var(--dimmed);
}

.defaultAvatar {
    display: flex;
    align-self: center;
    justify-content: center;
}

.defaultAvatar svg {
    height: 100%;
    width: 100%;
}