.avatar {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    align-self: center;
    justify-content: center;
}

.avatarOnline {
    border-radius: 5px;
    box-shadow: var(--color-avatar-online);
}

.avatarOffline {
    opacity: var(--dimmed);
    filter: grayscale(100%);
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: var(--filled);
}


.avatarMe {
    opacity: var(--filled);
    box-shadow: none;
}
.avatarMe:hover {
    opacity: var(--dimmed);
}

.defaultAvatar {
    display: flex;
    align-self: center;
    justify-content: center;
}

.defaultAvatar svg {
    height: 100%;
    width: 100%;
}
