.avatar {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    align-self: center;
    justify-content: center;
    border: 1px solid var(--color-border-dark);
}

.avatarOnline {
    border-radius: 5px;
    box-shadow: var(--color-avatar-online);
    border: 1px solid var(--color-online-indicator);
}

.avatarOffline {
    opacity: var(--dimmed);
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: var(--filled);
}


.avatarMe:hover {
    opacity: var(--filled);
}

.defaultAvatar {
    display: flex;
    align-self: center;
    justify-content: center;
}

.defaultAvatar svg {
    height: 100%;
    width: 100%;
}
