.profileRoot {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: calc(50px * var(--ui-scale));
    width: calc(1000px * var(--ui-scale));
    border: 1px solid var(--color-border-dark);
    border-radius: 10px;
    color: var(--color-text-muted);
    min-height: 500px;
}

.profileHeader {
    display: flex;
    font-size: var(--medium-font-size);
    margin-bottom: var(--space-3);
    justify-content: center;
}

.aboutSection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-1);
    margin: var(--space-5);
}

.profileFullName {
    display: grid;
    gap: var(--space-2);
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}