.profileRoot {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: calc(50px * var(--ui-scale));
    width: calc(1000px * var(--ui-scale));
    border: 1px solid var(--color-border-dark);
    border-radius: 10px;
    color: var(--color-text-muted);
    min-height: 500px;
}

.profileHeader {
    display: flex;
    padding: var(--space-5);
    font-size: var(--medium-font-size);
    justify-content: center;
}