.userRow{
    all: unset;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    cursor: pointer;
    border-radius: 10px;
    padding: var(--space-2);
    opacity: var(--filled);
    gap: var(--space-4);
}

.userRow:hover {
    background-color: var(--color-bg-overlay);
    opacity: var(--dimmed);
}

.userProfilePicInList {
    display: flex;
    grid-column: 1;
    justify-content: center;
}

.userProfilePicInList svg {
    width: 100%;
    height: 100%;
    color: var(--color-text-muted);
}

.userNameInList {
    display: flex;
    grid-column: 2;
    font-size: var(--small-font-size);
    color: var(--color-text-muted);
    align-items: center;
    width: 100px;
    padding-bottom: var(--space-1);
}

.online {
    color: var(--color-online-indicator);
}

.online svg {
    color: var(--color-online-indicator);
}

.offline{
    color: var(--color-offline-indicator);
}

.msgWaiting {
    display: flex;
    grid-column: 6;
    justify-content: center;
    color: var(--color-online-indicator);
}

.msgWaiting svg {
    height: 100%;
    width: var(--icon-size-small);
}

.newWorkoutPosted {
    display: flex;
    grid-column: 3;
}
.newWorkoutPosted svg {
    height: 100%;
    width: var(--icon-size-small);
}
.newWorkoutPosted svg:hover {

}

.fade {
    animation: fadeInOut 2s ease-in-out infinite;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}