.userRow{
    all: unset;
    display: grid;
    grid-template-columns: 20px 160px, 40px;
    min-width: 200px;
    max-width: 200px;
    cursor: pointer;
    border-radius: 10px;
    padding: var(--space-2);
    opacity: var(--filled);
}

.userRow:hover {
    background-color: var(--color-bg-overlay);
    opacity: var(--dimmed);
}

.userProfilePicInList{
    display: flex;
    grid-column: 1;
    padding-right: var(--space-5);
}

.userProfilePicInList svg {
    height: 100%;
    width: var(--icon-size-medium);
    color: var(--color-text-muted);
}

.userNameInList {
    display: flex;
    grid-column: 2;
    font-size: var(--small-font-size);
    color: var(--color-text-muted);
    align-items: center;
    justify-content: left;
    min-width: 100px;
}

.userOnlineStatus {
    display: flex;
    min-width: 40px;
    grid-column: 3;
}

.userOnlineStatus svg {
    height: 100%;
    width: var(--icon-size-small);
}

.online{
    color: var(--color-online-indicator);
}

.offline{
    color: var(--color-offline-indicator);
}