.userRow{
    all: unset;
    position:relative;
    display: grid;
    width: 220px;
    grid-template-columns: repeat(4, 1fr);
    cursor: pointer;
    border-radius: 10px;
    opacity: var(--filled);
    gap: var(--space-5);
}

.userRow:hover {
    background-color: var(--color-hover);
}

.userProfilePicInList {
    display: flex;
    grid-column: 1;
    justify-content: center;
}

.userProfilePicInList svg {
    width: 100%;
    height: 100%;
    color: var(--color-text-muted);
}

.userNameInList {
    display: flex;
    grid-column: 2;
    font-size: var(--small-font-size);
    color: var(--color-text-muted);
    align-items: center;
    width: 50px;
    padding-bottom: var(--space-1);
}

.online {
    color: var(--color-online-indicator);
}

.online svg {
    color: var(--color-online-indicator);
}

.offline{
    color: var(--color-offline-indicator);
}

.msgWaiting {
    display: flex;
    grid-column: 4;
    justify-content: center;
    color: var(--color-text-muted);
    padding-right: var(--space-3);
}

.msgWaiting svg {
    height: 100%;
    width: var(--icon-size-small);
}

.newWorkoutPosted {
    display: flex;
    grid-column: 3;
}
.newWorkoutPosted svg {
    height: 100%;
    width: var(--icon-size-small);
}
.newWorkoutPosted svg:hover {
    display: flex;
}

.addToGroupChat {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 5px;
    top:  6px;
    color: white;
    background-color: rgb(0, 0,0, 0.5);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgb(0,0,0,0.3);
}

.addToGroupChat svg {
    width: var(--icon-size-medium);
    border-radius: 10px;
}
