.loginIcon {
    all: unset;
    grid-column:8;
    grid-row: 1;
    display: flex;
    flex: 1;
    flex-direction: row;
    cursor: pointer;
    justify-content: center;
}

.loginIcon svg {
    width: var(--icon-size-medium);
    color: var(--color-text-muted);
    opacity: var(--filled);
}

.loginIcon svg:hover {
    opacity: var(--dimmed);
}