.profileIcon {
    all: unset;
    display: flex;
    justify-content: center;
    grid-column: 7;
    cursor: pointer;
}

.headerUsername{
    display: flex;
    justify-content: center;
    font-size: var(--xsmall-font-size);
    color: var(--color-text-muted);
}

.profileIcon svg {
    width: 100%;
    height: 100%;
    color: var(--color-text-muted);
    opacity: var(--dimmed);
}

.profileIcon svg:hover {
    opacity: var(--filled);
}