.prHistoryWindowManager {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

.minimizeProfile {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-self: end;
    padding-right: var(--space-2);
}

.minimizeProfile svg {
    width: var(--icon-size-small);
    height: 100%;
    opacity: var(--dimmed);
    color: var(--color-button-muted);
    cursor: pointer;
}

.minimizeProfile svg:hover {
    opacity: var(--full);
}


