<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>testing</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/workoutDash.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/newlifter.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/cursor.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/dashHeaders.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/lifterBoxHeader.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/sidebar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/variables.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/prDash.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/calendar.css') }}">
</head>
<body class="container">
    {% include 'partials/header.html' %}
    {% include 'partials/mainDashboard.html' %}
    {% include 'partials/footer.html' %}
  <script type="module" src="{{ url_for('static', filename='index.js') }}" defer></script>
</body>
</html>
