
.loginRoot {
    display: flex;
    height: 100vh;
    width: 100%;
    color: var(--color-text-muted);
}

.loginBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    min-width: 500px;
    min-height: 250px;
    margin: auto;
    padding: var(--space-5);
    border-radius: 10px;
    gap: 10px;
}

.loginBoxHeader {
    display: flex;
    justify-content: center;
    grid-column: 1;
    padding: var(--space-5);
    font-size: var(--medium-font-size);
    cursor: default;
    
}

.loginForm{
    display: grid;
    gap: var(--space-2);
    grid-column: 2;
    grid-template-rows: repeat(3, 1fr);
}

#loginUserName {
    all: unset;
    border: 1px solid var(--color-border-dark);
    border-radius: calc(5px * var(--ui-scale));
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    resize: none;
    overflow: hidden;
    font-size: var(--small-font-size-1);
    color: var(--color-text-muted);
    padding-left: var(--space-5);
    padding-right: var(--space-5);
}

#loginPassword {
    all: unset;
    border: 1px solid var(--color-border-dark);
    border-radius: calc(5px * var(--ui-scale));
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    resize: none;
    overflow: hidden;
    font-size: var(--small-font-size-1);
    color: var(--color-text-muted);
    padding-left: var(--space-5);
    padding-right: var(--space-5);
}

.loginSubmit {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-border-dark);
    border-radius: calc(5px * var(--ui-scale));
    padding-left: var(--space-5);
    padding-right: var(--space-5);
    cursor: pointer;
    opacity: var(--dimmed);
}

.loginSubmit:hover{
    opacity: var(--filled);
}
