.listToggleRoot {

    display: flex;
    flex-direction: row;
    gap: var(--space-5);

}

.listIcons {

    flex-direction: row;
    gap: var(--space-2);
    display: flex;
    
}

.listIcons svg {

    color: var(--color-text-muted);
    width: var(--icon-size-small);
    opacity: var(--dimmed);
    cursor: pointer;    
    display: flex;
    height: auto;
}

#dmsIcon:hover {

    opacity: var(--filled);

}

#groupChatIcon:hover {

    opacity: var(--filled);
}

.userListButton {

    all: unset;
    
}