.listToggleRoot {

    display: flex;
    flex-direction: column;

}

.listIcons {

    display: flex;
    flex-direction: row;
    gap: var(--space-5);
    margin: auto;

}

.listIcons svg {

    color: var(--color-text-muted);
    width: var(--icon-size-small);
    opacity: var(--dimmed);
    cursor: pointer;

}

#dmsIcon:hover {
    opacity: var(--filled);
}

#groupChatIcon:hover {
    opacity: var(--filled);
}

.userListButton {

    all: unset;
    
}