.sidebarHeader {

    display: grid;
    justify-content: center;
    margin-top: var(--space-5);
    margin-bottom: var(--space-5);
    cursor: default;

}

.sidebarHeaderText {
    font-size: var(--24px);
    color: var(--text-color-muted);
}