.sidebarHeader {
    display: grid;
    justify-content: center;
    padding-bottom: var(--space-5);
    margin-bottom: var(--space-5);
    cursor: default;
    border-bottom: 1px solid var(--color-border-dark);
}

.sidebarHeaderText {
    font-size: var(--24px);
    color: var(--text-color-muted);
}